	nav ul ul {
		display: none;
	}
	nav ul li:hover > ul {
		display: block;
	}
   	nav ul{
		border-radius: 3px;  
		list-style: none;
		position: relative; 	
		display: inline-table;
	}
	nav ul:after{
		content: ""; clear: both; display: block; 
	}
   nav ul li{
		float: left;
	}
	nav ul li:hover a{
		font-color: #fff;
		text-decoration: underline;
	}
	nav ul li a {
		display: block; padding: 2px 35px;
		color: #000; text-decoration: none;
	}
	nav ul ul {
		background: #FAF260; border-radius: 0px; padding: 0px;
		position: relative; top: 100%;
	}
	nav ul ul li{
		float: center;
		position: relative;
	}
	nav ul ul li a{
		color: #000;
		text-decoration: underline;
	}	
	nav ul ul li:hover a{
		background: #FAF260;
		text-decoration: none;
	}