<style type="text/css">
   	#welcome{
   		position: fixed;
   		right: 5%;
   		font-size: 15px;
   		font-family:Courier;
   	}
   	#profilepic{
      	position:fixed;
    	top:15px;
    	right:15px;
   	}
   	#smulogo{
	width: 600px;
    height: 200px;
	}
   	#profilelogout{
   		position:fixed;
   		top:80px;
   		right:20px;
   	}
   	#notifications{
    	position:fixed;
    	top:15px;
    	right:80px;
   	}
	h1{
		font-family:"Impact";
	}
	h2{
		font-family:"Helvetica";
	}
	#teamName{
		width:20em;
	}
	#industryType{
		width:10em;
	}
	#term{
		width:10em;
	}