<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>servlet.AuthenticateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/authenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateTeamServlet</servlet-name>
    <servlet-class>servlet.CreateTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTeamServlet</servlet-name>
    <url-pattern>/createTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProjectServlet</servlet-name>
    <servlet-class>servlet.CreateProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProjectServlet</servlet-name>
    <url-pattern>/createProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>servlet.SearchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/searchUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchTeamServlet</servlet-name>
    <servlet-class>servlet.SearchTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTeamServlet</servlet-name>
    <url-pattern>/searchTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <servlet-class>servlet.DeleteProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <url-pattern>/deleteProject</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DeleteTeamServlet</servlet-name>
    <servlet-class>servlet.DeleteTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeamServlet</servlet-name>
    <url-pattern>/deleteTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>servlet.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
</web-app>