<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://java.sun.com/xml/ns/javaee" 
		xmlns:web="http://java.sun.com/xml/ns/javaee" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>servlet.AuthenticateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/authenticate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ApplyProjectServlet</servlet-name>
    <servlet-class>servlet.ApplyProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyProjectServlet</servlet-name>
    <url-pattern>/applyProj</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddAnnouncementServlet</servlet-name>
    <servlet-class>servlet.AddAnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAnnouncementServlet</servlet-name>
    <url-pattern>/addAnn</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateTeamServlet</servlet-name>
    <servlet-class>servlet.CreateTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTeamServlet</servlet-name>
    <url-pattern>/createTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProjectServlet</servlet-name>
    <servlet-class>servlet.CreateProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProjectServlet</servlet-name>
    <url-pattern>/createProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>servlet.SearchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/searchUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchTeamServlet</servlet-name>
    <servlet-class>servlet.SearchTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTeamServlet</servlet-name>
    <url-pattern>/searchTeam</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateTeamServlet</servlet-name>
    <servlet-class>servlet.UpdateTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeamServlet</servlet-name>
    <url-pattern>/updateTeam</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <servlet-class>servlet.DeleteProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <url-pattern>/deleteProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTeamServlet</servlet-name>
    <servlet-class>servlet.DeleteTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeamServlet</servlet-name>
    <url-pattern>/deleteTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>servlet.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UpdateCurrentProfileServlet</servlet-name>
    <servlet-class>servlet.UpdateCurrentProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCurrentProfileServlet</servlet-name>
    <url-pattern>/updateCurrentProfile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AssignSupervisorServlet</servlet-name>
    <servlet-class>servlet.AssignSupervisorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignSupervisorServlet</servlet-name>
    <url-pattern>/assignSupervisor</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AssignReviewerServlet</servlet-name>
    <servlet-class>servlet.AssignReviewerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignReviewerServlet</servlet-name>
    <url-pattern>/assignReviewer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProjectServlet</servlet-name>
    <servlet-class>servlet.UpdateProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProjectServlet</servlet-name>
    <url-pattern>/updateProject</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>RemoveTeamMemberServlet</servlet-name>
    <servlet-class>servlet.RemoveTeamMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveTeamMemberServlet</servlet-name>
    <url-pattern>/removeMember</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>MatchToTeamServlet</servlet-name>
    <servlet-class>servlet.MatchToTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchToTeamServlet</servlet-name>
    <url-pattern>/matchTeam</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MatchToProjectServlet</servlet-name>
    <servlet-class>servlet.MatchToProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchToProjectServlet</servlet-name>
    <url-pattern>/matchProj</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SuspendUserServlet</servlet-name>
    <servlet-class>servlet.SuspendUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuspendUserServlet</servlet-name>
    <url-pattern>/suspendUser</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AcceptTeamServlet</servlet-name>
    <servlet-class>servlet.AcceptTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptTeamServlet</servlet-name>
    <url-pattern>/acceptTeam</url-pattern>
  </servlet-mapping>  
   
  <servlet>
    <servlet-name>RejectTeamServlet</servlet-name>
    <servlet-class>servlet.RejectTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectTeamServlet</servlet-name>
    <url-pattern>/rejectTeam</url-pattern>
  </servlet-mapping> 
    
  <servlet>
    <servlet-name>AcceptStudentServlet</servlet-name>
    <servlet-class>servlet.AcceptStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptStudentServlet</servlet-name>
    <url-pattern>/acceptStudent</url-pattern>
  </servlet-mapping>  
   
  <servlet>
    <servlet-name>RejectStudentServlet</servlet-name>
    <servlet-class>servlet.RejectStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectStudentServlet</servlet-name>
    <url-pattern>/rejectStudent</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>AcceptInviteServlet</servlet-name>
    <servlet-class>servlet.AcceptInviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptInviteServlet</servlet-name>
    <url-pattern>/acceptInvite</url-pattern>
  </servlet-mapping>  
   
  <servlet>
    <servlet-name>RejectInviteServlet</servlet-name>
    <servlet-class>servlet.RejectInviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectInviteServlet</servlet-name>
    <url-pattern>/rejectInvite</url-pattern>
  </servlet-mapping>  
    
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>