<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://java.sun.com/xml/ns/javaee" 
		xmlns:web="http://java.sun.com/xml/ns/javaee" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		id="WebApp_ID" version="3.0">
  <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>465</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>is480matching@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>lightningstrike</param-value>
    </context-param>
  
  <servlet>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>servlet.AuthenticateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/authenticate</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>EmailSendingServlet</servlet-name>
    <servlet-class>servlet.EmailSendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendingServlet</servlet-name>
    <url-pattern>/EmailForm</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ApplyProjectServlet</servlet-name>
    <servlet-class>servlet.ApplyProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyProjectServlet</servlet-name>
    <url-pattern>/applyProj</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddAnnouncementServlet</servlet-name>
    <servlet-class>servlet.AddAnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAnnouncementServlet</servlet-name>
    <url-pattern>/addAnn</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddRoleServlet</servlet-name>
    <servlet-class>servlet.AddRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoleServlet</servlet-name>
    <url-pattern>/addRole</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteTermServlet</servlet-name>
    <servlet-class>servlet.DeleteTermServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTermServlet</servlet-name>
    <url-pattern>/deleteTerm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSponsorServlet</servlet-name>
    <servlet-class>servlet.DeleteSponsorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSponsorServlet</servlet-name>
    <url-pattern>/deleteSponsor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeamFeedbackServlet</servlet-name>
    <servlet-class>servlet.TeamFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamFeedbackServlet</servlet-name>
    <url-pattern>/teamFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SponsorFeedbackServlet</servlet-name>
    <servlet-class>servlet.SponsorFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SponsorFeedbackServlet</servlet-name>
    <url-pattern>/sponsorFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateTeamServlet</servlet-name>
    <servlet-class>servlet.CreateTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTeamServlet</servlet-name>
    <url-pattern>/createTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProjectServlet</servlet-name>
    <servlet-class>servlet.CreateProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProjectServlet</servlet-name>
    <url-pattern>/createProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>servlet.SearchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/searchUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchTeamServlet</servlet-name>
    <servlet-class>servlet.SearchTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTeamServlet</servlet-name>
    <url-pattern>/searchTeam</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InviteTeamServlet</servlet-name>
    <servlet-class>servlet.InviteTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InviteTeamServlet</servlet-name>
    <url-pattern>/inviteTeam</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MoveTeamTermServlet</servlet-name>
    <servlet-class>servlet.MoveTeamTermServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveTeamTermServlet</servlet-name>
    <url-pattern>/moveTeam</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchProjectServlet</servlet-name>
    <servlet-class>servlet.SearchProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProjectServlet</servlet-name>
    <url-pattern>/searchProject</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateTeamServlet</servlet-name>
    <servlet-class>servlet.UpdateTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeamServlet</servlet-name>
    <url-pattern>/updateTeam</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <servlet-class>servlet.DeleteProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <url-pattern>/deleteProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTeamServlet</servlet-name>
    <servlet-class>servlet.DeleteTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeamServlet</servlet-name>
    <url-pattern>/deleteTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>servlet.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UpdateCurrentProfileServlet</servlet-name>
    <servlet-class>servlet.UpdateCurrentProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCurrentProfileServlet</servlet-name>
    <url-pattern>/updateCurrentProfile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GenerateCSVServlet</servlet-name>
    <servlet-class>servlet.GenerateCSVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateCSVServlet</servlet-name>
    <url-pattern>/exportTeam</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AssignSupervisorServlet</servlet-name>
    <servlet-class>servlet.AssignSupervisorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignSupervisorServlet</servlet-name>
    <url-pattern>/assignSupervisor</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AssignReviewerServlet</servlet-name>
    <servlet-class>servlet.AssignReviewerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignReviewerServlet</servlet-name>
    <url-pattern>/assignReviewer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProjectServlet</servlet-name>
    <servlet-class>servlet.UpdateProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProjectServlet</servlet-name>
    <url-pattern>/updateProject</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AddTermServlet</servlet-name>
    <servlet-class>servlet.AddTermServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTermServlet</servlet-name>
    <url-pattern>/addTerm</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SwitchRoleServlet</servlet-name>
    <servlet-class>servlet.SwitchRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchRoleServlet</servlet-name>
    <url-pattern>/switchRole</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>RemoveTeamMemberServlet</servlet-name>
    <servlet-class>servlet.RemoveTeamMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveTeamMemberServlet</servlet-name>
    <url-pattern>/removeMember</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>MatchToTeamServlet</servlet-name>
    <servlet-class>servlet.MatchToTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchToTeamServlet</servlet-name>
    <url-pattern>/matchTeam</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MatchToProjectServlet</servlet-name>
    <servlet-class>servlet.MatchToProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchToProjectServlet</servlet-name>
    <url-pattern>/matchProj</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SuspendUserServlet</servlet-name>
    <servlet-class>servlet.SuspendUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuspendUserServlet</servlet-name>
    <url-pattern>/suspendUser</url-pattern>
  </servlet-mapping>
	
  <servlet>
    <servlet-name>UnsuspendUserServlet</servlet-name>
    <servlet-class>servlet.UnsuspendUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnsuspendUserServlet</servlet-name>
    <url-pattern>/unsuspendUser</url-pattern>
  </servlet-mapping>	
	
  <servlet>
    <servlet-name>AcceptTeamServlet</servlet-name>
    <servlet-class>servlet.AcceptTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptTeamServlet</servlet-name>
    <url-pattern>/acceptTeam</url-pattern>
  </servlet-mapping>  
   
  <servlet>
    <servlet-name>RejectTeamServlet</servlet-name>
    <servlet-class>servlet.RejectTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectTeamServlet</servlet-name>
    <url-pattern>/rejectTeam</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>StudentRequestServlet</servlet-name>
    <servlet-class>servlet.StudentRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRequestServlet</servlet-name>
    <url-pattern>/stdRequest</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>AcceptStudentServlet</servlet-name>
    <servlet-class>servlet.AcceptStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptStudentServlet</servlet-name>
    <url-pattern>/acceptStudent</url-pattern>
  </servlet-mapping>  
   
  <servlet>
    <servlet-name>RejectStudentServlet</servlet-name>
    <servlet-class>servlet.RejectStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectStudentServlet</servlet-name>
    <url-pattern>/rejectStudent</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>InviteStudentServlet</servlet-name>
    <servlet-class>servlet.InviteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InviteStudentServlet</servlet-name>
    <url-pattern>/inviteStudent</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>AcceptInviteServlet</servlet-name>
    <servlet-class>servlet.AcceptInviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptInviteServlet</servlet-name>
    <url-pattern>/acceptInvite</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>GenerateAnalyticsCSVServlet</servlet-name>
    <servlet-class>servlet.GenerateAnalyticsCSVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateAnalyticsCSVServlet</servlet-name>
    <url-pattern>/generateAnalyticsCSV</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>RejectInviteServlet</servlet-name>
    <servlet-class>servlet.RejectInviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectInviteServlet</servlet-name>
    <url-pattern>/rejectInvite</url-pattern>
  </servlet-mapping>  
    
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>